main {
    background-color: #252525;
}

footer {
    background-color: #252525;
}

#myCarousel {
    margin-top: 3.5%;
    width: 80%;
    margin-left: 10%
}

.fotos img {
    height: 450px;
}

#ipad {
    margin-left: 8%;
}

footer {
    background-color: #252525;
}
