<div class="container">
    <h2>Description of the service</h2>
    <p>
        Maecenas ultrices pretium sapien. Nullam dui tellus, sagittis a bibendum id, varius et mi. Cras a tortor pharetra, pellentesque diam nec, mattis dolor. Phasellus cursus augue ipsum, ac sodales magna aliquam a. Nam ornare nulla non risus dignissim, non
        porta nisi tincidunt. Nullam magna mauris, gravida non laoreet non, eleifend auctor sapien. Curabitur ac lectus a odio iaculis vulputate a ac eros.
    </p>
    <p>
        In hac habitasse platea dictumst. Praesent volutpat arcu id purus maximus, vel lacinia massa vulputate. Nam sit amet massa a nibh ullamcorper pretium eget sed felis. Suspendisse imperdiet convallis sem vitae mattis. Pellentesque mauris justo, finibus
        vitae quam vel, faucibus blandit ex. Duis pretium, odio sed aliquam elementum, lectus quam tempor turpis, in consequat sapien mauris nec sem. Fusce eleifend condimentum ligula, porttitor luctus magna.
    </p>
    <p>
        Donec efficitur vulputate urna, a tincidunt tellus. Mauris tempus et magna et congue. Donec pretium egestas malesuada. Fusce mollis, risus molestie congue hendrerit, est nulla semper quam, sit amet euismod metus mauris id mauris. Donec in lorem sollicitudin,
        mollis dui id, tempus diam. Nullam lobortis purus nec gravida consectetur. Nunc vel lectus vitae massa accumsan bibendum a in nisl. Morbi fringilla dui lectus, pharetra semper ante sodales quis. Etiam quis elit sed magna dignissim scelerisque
        eget sit amet magna. Curabitur sed ipsum eget sapien convallis iaculis vel sed sapien. Suspendisse neque justo, pretium ac elit vulputate, elementum sodales diam. Donec blandit pulvinar lectus vel tincidunt.
    </p>
</div>