input {
  background-color: #f5f5f5;
}

label {
  color: rgba(0, 0, 0, 0.86);
}

p {
  color: red;
  text-align: center;
}

button {
  margin-left: 10%;
  color: #3A8EF2;
  border: 2px solid #3A8EF2;
}

#sign-in-button {
  margin-left: 43%;
  margin-top: 2%;
  margin-bottom: -1%;
}

button:hover {
  color: #2E2E2E;
  border: 2px solid #2E2E2E;
  background-color: #4A99F7;
}
