footer {
    background-color: #454242;
    align-items: center;
    font-size: 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #B1ACAC;
    border-color: #454242;
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 12px;
}

#footer-info {
    text-align: center;
}
