<div class="container">
    <h3>Attention!</h3>
    <p>
        In accordance with the law 54-FZ for online stores, it is necessary to clarify the payment services whether they are sending fiscal data from the online store to the cloud cashier.
    </p>
    <br>
    <h3>Payment:</h3>
    <p>
        Payment is made only with the help of a bank card. For payment, you need to specify the transaction amount and card number.
    </p>
    <br>
    <h3>List of banks with which we cooperate:</h3>
    <ul>
        <li>BelarusBank - <a href="https://belarusbank.by/" target="_blank">belarusbank.by</a></li>
        <li>IdeaBank - <a href="https://www.ideabank.by/" target="_blank">ideabank.by</a></li>
        <li>BelWEB - <a href="https://belveb.by/" target="_blank">belveb.by</a></li>
        <li>BSB Bank - <a href="https://www.bsb.by/" target="_blank">bsb.by</a></li>
        <li>VTB - <a href="https://www.vtb-bank.by/" target="_blank">vtb-bank.by</a></li>
    </ul>
</div>
