/* You can add global styles to this file, and also import other style files */

body {
    background-color: #252525;
}

input {
  background-color: #f5f5f5;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.error-code {
  font-size: 375px;
  color: #ffffff;
  margin-top: -5%;
  margin-bottom: -10%;
  text-align: center;
}

.error-message {
  font-size: 100px;
  color: #ffffff;
  text-align: center;
}

.coin {
  margin-top: -50px;
  margin-right: -90px;
}

#coin404 {
  margin-top: -50px;
}

.modal-header {
  background-color: #454242;
  color: #B1ACAC;
  margin-bottom: -25px;
}

.modal-header .close {
  margin-top: -30px;
  margin-bottom: 25px;
}

.modal-body {
  color: #B1ACAC;
  background-color: #d6d6d6;
}

input.ng-touched.ng-invalid {
  border: solid #ff3916 1px;
}

input.ng-touched.ng-valid {
  border: solid #10ff7a 1px;
}

th, td {
  text-align: center;
}

th {
  color: #B1ACAC;
}

td {
  color: #e2dddd;
}

tbody {
  display: block;
  height: 455px;
  width: 100%;
  overflow-y: auto;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table > tbody > tr > td {
  border-top: 1px solid #777;
}

.table > thead > tr > th {
  border-bottom: 1px #777;
}

table {
  margin-top: -8px;
}

::-webkit-scrollbar-button {
  background-repeat:no-repeat;
  width:5px;
  height:0px
}

::-webkit-scrollbar-track {
  background-color: #777879
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 50px;
  background-color: #3f3f3f;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #191919;
}

::-webkit-resizer{
  background-repeat:no-repeat;
  width:8px;
  height:0px
}

::-webkit-scrollbar{
  width: 10px;
}
