<div class="container">
    <h2>Description of the service</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ipsum sapien, pretium eget dapibus non, feugiat id orci. Nullam eget quam ut dolor convallis sagittis. In in diam at sem mattis facilisis. Ut vulputate egestas felis eget viverra. Donec consectetur
        nulla in quam pharetra, id pharetra magna convallis. Integer magna tellus, molestie nec interdum nec, vulputate in massa. Quisque a semper nisi. Nullam tincidunt id eros et ornare. Vivamus maximus tortor vel consequat semper. Nam augue sem, ornare
        nec urna ac, imperdiet molestie purus. Fusce sit amet auctor dui, id finibus nulla. Etiam elementum vel augue vel volutpat. Aenean convallis cursus sapien eget aliquam.
    </p>
    <p>
        Ut ultricies aliquet feugiat. Pellentesque tristique purus nisl, sit amet hendrerit erat mollis fringilla. Duis ut porttitor erat. Suspendisse tortor quam, volutpat ut felis non, porttitor porttitor sapien. Donec pharetra quam at massa vehicula ornare.
        In hendrerit purus non felis iaculis, quis commodo purus sagittis. Etiam purus turpis, viverra in dignissim at, blandit vitae quam. Maecenas convallis consectetur ipsum non lobortis. Aliquam eu lacus fringilla, gravida orci ac, scelerisque ante.
        Aliquam erat volutpat. Pellentesque pretium facilisis nisl ac accumsan. Donec maximus felis sit amet ante imperdiet, eu sollicitudin ipsum feugiat. Sed vitae blandit elit. Phasellus ut.
    </p>
</div>