.user-header {
  background-color: #454242;
  height: 70px;
  margin-top: -10px;
}

.logo {
  font-size: 45px;
  font-family: gabriola;
  color: white;
  padding: 1%;
}

#link-logo {
  font-size: 45px;
  font-family: gabriola;
  color: white;
}

#link-logo:hover {
  text-decoration: none;
}

#coin {
  width: 12%;
}

.guest-header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding-right: 5%;
}

.auth {
  padding-top: 11%;
  margin-left: 25%;
}

.user-header p {
  font-size: 30px;
  margin-top: 20px;
  float: right;
  color: #ffffff;
}

button {
  color: #3A8EF2;
  border: 2px solid #3A8EF2;
}

button:hover {
  color: #2E2E2E;
  border: 2px solid #2E2E2E;
  background-color: #4A99F7;
}
